{% extends 'Layouts/layout_vente.html.twig' %}
{% block titre %}{{ parent() }} : vue 2{% endblock %}

{% block titre_principal %}Titre principal de la vue 2{% endblock %}

{% block vue %}
    <p>
        Ceci est un paragraphe de la vue&nbsp;2.
        </p>
    {% endblock %}